@using Vet.Models;
@model IEnumerable<Pet>
@{

}

@{
}
<script>
    function selectPet(petId){
        var container = document.querySelector(`[pet="${petId}"]`);
        container.style = "";
        $(container).load(`/pet/${petId}`);
    }
</script>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Birthdate)</th>
            <th>@Html.DisplayNameFor(model => model.AnimalType)</th>
            <th>Handlinger</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@Html.DisplayFor(model => item.Name)</td>
                <td>@Html.DisplayFor(model => item.Birthdate)</td>
                <td>@Html.DisplayFor(model => item.AnimalType.Name)</td>
                <td><button onclick="selectPet(@item.Id)">Show More</button></td>
            </tr>
            <tr style="height: 100%" petDetails pet="@item.Id">

            </tr>
        }
        
    </tbody>
</table>
